In [44]:
import pandas as pd

In [45]:
# 카테고리
category = ['상의', '하의', '아우터', '원피스']
top = ['탑', '블라우스', '티셔츠', '니트웨어', '셔츠', '브라탑', '후드티']
bottom = ['청바지', '팬츠', '스커트', '레깅스', '조거팬츠']
outer = ['코트', '재킷', '점퍼', '패딩', '베스트', '가디건', '집업']
dress = ['드레스', '점프수트']

In [46]:
# 기장
top_length = ['크롭', '노멀', '롱']
bottom_length = ['미니', '니렝스', '미디', '발목', '맥시']
outer_length = ['크롭', '노멀', '하프', '롱', '맥시']
dress_length = ['미니', '니렝스', '미디', '발목', '맥시']

In [47]:
# 핏
bottom_fit = ['스키니', '노멀', '와이드', '루즈', '벨보텀']
fit = ['타이트', '노멀', '루즈', '오버사이즈']

In [48]:
# 소재
material = ['퍼', '니트','무스탕'  '레이스', '스웨이드', '린넨', '앙고라' , '메시', '코듀로이' , '플리스', '시퀸/글리터' ,'네오프렌'
'데님', '실크' ,'저지'  ,'스판덱스', '트위드'  '자카드', '벨벳'  '가죽', '비닐/PVC' , '면' ,'울/캐시미어' , '시폰', '합성섬유']

In [49]:
# 색상
color = ['블랙','화이트','그레이','레드','핑크','오렌지','베이지','브라운','옐로우','그린',
         '카키','민트','블루','네이비','스카이블루','퍼플','라벤더','와인','네온','골드']

# csv 파일 만들기

In [50]:
clothes_info = pd.DataFrame()
clothes_info['category_l'] = None
clothes_info['category_s'] = None
clothes_info['length'] = None
clothes_info['fit'] = None
clothes_info

Empty DataFrame
Columns: [category_l, category_s, length, fit]
Index: []

In [51]:
clothes = [top, bottom, outer, dress]
length = [top_length, bottom_length, outer_length, dress_length]
fits = [fit, bottom_fit, fit, fit]

In [52]:
for large, small, l, f in zip(category, clothes, length, fits):
  
  for small_entry in small: 
    for length_entry in l:
      for f_entry in f:
        location = clothes_info.shape[0]
        clothes_info.loc[location] = [large, small_entry, length_entry, f_entry]

In [58]:
clothes_info = clothes_info.reset_index()

     index category_l category_s length    fit
0        0         상의          탑     크롭    타이트
1        1         상의          탑     크롭     노멀
2        2         상의          탑     크롭     루즈
3        3         상의          탑     크롭  오버사이즈
4        4         상의          탑     노멀    타이트
..     ...        ...        ...    ...    ...
384    384        원피스       점프수트     발목  오버사이즈
385    385        원피스       점프수트     맥시    타이트
386    386        원피스       점프수트     맥시     노멀
387    387        원피스       점프수트     맥시     루즈
388    388        원피스       점프수트     맥시  오버사이즈

[389 rows x 5 columns]

In [62]:
clothes_info = clothes_info.rename(columns={'index':'id'})

In [63]:
clothes_info

      id category_l category_s length    fit
0      0         상의          탑     크롭    타이트
1      1         상의          탑     크롭     노멀
2      2         상의          탑     크롭     루즈
3      3         상의          탑     크롭  오버사이즈
4      4         상의          탑     노멀    타이트
..   ...        ...        ...    ...    ...
384  384        원피스       점프수트     발목  오버사이즈
385  385        원피스       점프수트     맥시    타이트
386  386        원피스       점프수트     맥시     노멀
387  387        원피스       점프수트     맥시     루즈
388  388        원피스       점프수트     맥시  오버사이즈

[389 rows x 5 columns]

In [65]:
clothes_info.to_csv('clothes_info.csv', index=False, encoding='euc-kr')

# 색상

In [69]:
colors = pd.DataFrame({'name': color})
colors

     name
0      블랙
1     화이트
2     그레이
3      레드
4      핑크
5     오렌지
6     베이지
7     브라운
8     옐로우
9      그린
10     카키
11     민트
12     블루
13    네이비
14  스카이블루
15     퍼플
16    라벤더
17     와인
18     네온
19     골드

In [70]:
colors = colors.reset_index()
colors = colors.rename(columns={'index':'id'})
colors

    id   name
0    0     블랙
1    1    화이트
2    2    그레이
3    3     레드
4    4     핑크
5    5    오렌지
6    6    베이지
7    7    브라운
8    8    옐로우
9    9     그린
10  10     카키
11  11     민트
12  12     블루
13  13    네이비
14  14  스카이블루
15  15     퍼플
16  16    라벤더
17  17     와인
18  18     네온
19  19     골드

In [71]:
colors.to_csv('colors.csv', index=False, encoding='euc-kr')

# 소재

In [73]:
materials = pd.DataFrame({'name': material})
materials

      name
0        퍼
1       니트
2   무스탕레이스
3     스웨이드
4       린넨
5      앙고라
6       메시
7     코듀로이
8      플리스
9   시퀸/글리터
10  네오프렌데님
11      실크
12      저지
13    스판덱스
14  트위드자카드
15    벨벳가죽
16  비닐/PVC
17       면
18  울/캐시미어
19      시폰
20    합성섬유

In [74]:
materials = materials.reset_index()
materials = materials.rename(columns={'index':'id'})
materials

    id    name
0    0       퍼
1    1      니트
2    2  무스탕레이스
3    3    스웨이드
4    4      린넨
5    5     앙고라
6    6      메시
7    7    코듀로이
8    8     플리스
9    9  시퀸/글리터
10  10  네오프렌데님
11  11      실크
12  12      저지
13  13    스판덱스
14  14  트위드자카드
15  15    벨벳가죽
16  16  비닐/PVC
17  17       면
18  18  울/캐시미어
19  19      시폰
20  20    합성섬유

In [75]:
materials.to_csv('materials.csv', index=False, encoding='euc-kr')